-@pageTitle = "Cocktail Recipes - Search Results"

-if @title
    %h2= @title
    %br

-if @searched_ingredients
    Searched for recipes with ingredients:
    "#{@searched_ingredients}"

= render :partial => '/search/search_results_table'