.btn-group.pull-right.recipe-actions
	%a.btn.btn-primary.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
		Actions
		%span.caret
	%ul.dropdown-menu
		%li
			%a{:href => "#"}
				%i.icon-star-empty
				Favorite
		%li
			%a{:href => "#"}
				%i.icon-envelope
				Email
		%li
			%a{:href => "#"}
				%i.icon-pencil
				Share
		%li.divider
		%li
			%a{:href => "#"}
				%i.icon-print
				Print