-if @recipe_user != nil && @recipe_user.starred
	-favorite_class = "dn"
-else
	-unfavorite_class = "dn"
.favorite-links
	.favorite-container{:class => "#{favorite_class}"}
		%a.favorite{:href => "/recipes/#{recipe_id}/favorite"}
			-if include_text == nil || include_text == true
				%span Add to Favorites
	.unfavorite-container{:class => "#{unfavorite_class}"}
		%a.unfavorite{:href => "/recipes/#{recipe_id}/unfavorite"}
			-if include_text == nil || include_text == true
				%span Remove from Favorites
%br