-if editable
    %input.cabinet_ingredient_search.ingredients_ac{:type => "text", :placeholder => "Search for an ingredient..."}
    %button.add_cabinet_ingredient.btn.btn-success Add
    %br
%table.liquor_cabinet_ingredients
    %tbody
        %tr.dn
            %td
                %l.icon-remove
                -ing = {}
                -ing[:ingredient] = "place_holder"
                .lc_ingredient.dib= render :partial => '/recipes/ingredient', :locals => {:ingredient => ing}
        -ingredients.each do |ingredient|
            %tr
                %td
                    -if editable
                        %l.icon-remove
                    .lc_ingredient.dib= render :partial => '/recipes/ingredient', :locals => {:ingredient => ingredient}
%br
-disabled = false
-if ingredients.size == 0
    -disabled = true
%a.view_makeable_recipes.btn.btn-primary{:href => "/recipes/liquor_cabinet", "data-loading-text" => "Calculating...", :disabled => disabled} View Makeable Recipes