.dib
	-if @recipe_user != nil && @recipe_user.rating != nil
		.raty_star_rated{"data-rating" => @recipe_user.rating}
	-else
		.pr.stars
			.pa.raty_star_not_rated{"data-rating" => @recipe.rating_avg}
			.pa.dn.raty_star_rated{"data-rating" => @recipe.rating_avg}
.dib
	.recipe_rating_count
		="(#{@recipe.rating_count})"
%input#recipe_id{:type => "hidden", :value => @recipe.id}