-is_rated = false
.dib
    -if user_rating != nil
        -is_rated = true
        .raty_star_rated{"data-rating" => user_rating}
    -else
        .stars
            .raty_star_not_rated{"data-rating" => avg_rating}
            .dn.raty_star_rated{"data-rating" => avg_rating}
.recipe_rating_count.dib
    %span= "("
    %span#recipe_rating_count_num= num_rated
    %span= ")"
    %input#recipe_id{:type => "hidden", :value => recipe_id}
    %span#rating_thanks.dn Thanks for rating this cocktail!
%input#recipe_is_rated{:type => "hidden", :value => "#{is_rated}"}