-@pageTitle = "My Favotite Cocktails"

.page-header
  %h1
    =render :partial => '/icons/favorite'
    =@pageTitle

= render :partial => '/search/search_results', :locals => {:full_recipes => @full_recipes}