-@pageTitle = "My Liked Cocktails"

.page-header
  %h1
    =render :partial => '/icons/like'
    =@pageTitle

= render :partial => '/search/search_results_table_design5', :locals => {:full_recipes => @full_recipes}