-@pageTitle = "Newly Added Cocktails"

.page-header
    %h1 Newly Added Cocktails

= render :partial => '/search/search_results_table_design2', :locals => {:full_recipes => @full_recipes_new, :total_ratings => @total_ratings_new}
