-@pageTitle = "Popular Cocktails"

.page-header
  %h1
    =render :partial => '/icons/popular'
    =@pageTitle

= render :partial => '/search/search_results_table_design5', :locals => {:full_recipes => @full_recipes_popular}