-@pageTitle = "Recipe - #{@recipe.title}"

.cb
=render :partial => '/recipes/full_page_view'
.page-header
	%h2= @recipe.title
%ul.nav.nav-tabs
	%li.active
		%a{:href => "#recipe", "data-toggle" => "tab"} Recipe
	%li
		%a{:href => "#comments", "data-toggle" => "tab"} Comments
.tab-content
	.tab-pane.fade.in.active#recipe
		=render :partial => 'recipes/recipe'
	.tab-pane.fade#comments
		=render :partial => 'widgets/disqus'
