-@pageTitle = "Upload Photo for - #{@recipe.title}"
.page-header
    %h1= @pageTitle
%br

=form_for @recipe_photo, :url => recipe_do_upload_photo_path, :method => :post, :html => { :multipart => true } do |f|
    %input{:type => "hidden", :name => "recipe_id", :value => @recipe.id}
    = f.file_field :photo
    %br
    = f.submit "Upload Photo", :class => "btn"