// Should the follow button even be displayed?
-if (user_signed_in? && (current_user.id != user_id)) || !user_signed_in?
    -follow_class = is_following == true ? "dn" : ""
    -unfollow_class = is_following == true ? "" : "dn"
    .btn_container
        %a.btn.btn-large.btn-danger.follow{"data-id" => "#{user_id}", :class => follow_class} Follow
        %a.btn.btn-large.btn-danger.unfollow.disabled{"data-id" => "#{user_id}", :class => unfollow_class} Following