-@pageTitle = "My Favotite Cocktails"

.page-header.profile
    %img.fl.avatar_large{"data-email" => @user.email}
    .top_details
        %h1
            = @user.name
            %small=@user.location
        %br
        %span.muted=@user.about_me
        =render :partial => '/users/follow_btn', :locals => {:is_following => @is_following, :user_id => @user.id}
    .stats
        %a.left
            %span
                %strong=@follower_users.size
                Followers
        %a.middle
            %span
                %strong=@num_favorited
                Favorites
        %a.right
            %span
                %strong=@num_liked
                Likes
    .cb
.profile_tabs
    .tabbable.tabs-left
        %ul.nav.nav-tabs.span2
            %li.active
                %a{:href => "#recipes_tab", "data-toggle" => "tab"}
                    Created Recipes
                    %span.muted.fr=@full_recipes_created.size
            %li
                %a{:href => "#favorites_tab", "data-toggle" => "tab"}
                    Favorites
                    %span.muted.fr=@full_recipes_favorites.size
            %li
                %a{:href => "#rated_tab", "data-toggle" => "tab"}
                    Rated
                    %span.muted.fr=@full_recipes_rated.size
            %li
                %a{:href => "#photos_tab", "data-toggle" => "tab"}
                    Photos
                    %span.muted.fr=@photos.size
            %li
                %a{:href => "#following_tab", "data-toggle" => "tab"}
                    Following
                    %span.muted.fr=@following_users.size
            %li
                %a{:href => "#cabinet_tab", "data-toggle" => "tab"}
                    Liquor Cabinet
                    %span.muted.fr=@lc_ingredients.size
        .tab-content.span10
            #recipes_tab.tab-pane.fade.in.active
                %h2 Created Recipes
                %hr
                = render :partial => '/search/search_results_table_design1', :locals => {:full_recipes => @full_recipes_created, :total_ratings => @total_ratings_created}
            #favorites_tab.tab-pane.fade.in
                %h2 Favorite Recipes
                %hr
                = render :partial => '/search/search_results_table_design1', :locals => {:full_recipes => @full_recipes_favorites, :total_ratings => @total_ratings_favorites}
            #rated_tab.tab-pane.fade.in
                %h2 Rated Recipes
                %hr
                = render :partial => '/search/search_results_table_design1', :locals => {:full_recipes => @full_recipes_rated, :total_ratings => @total_ratings_rated}
            #photos_tab.tab-pane.fade.in
                %h2 Uploaded Photos
                %hr
                =render :partial => 'recipes/photos', :locals => {:recipe_photos => @photos}
            #following_tab.tab-pane.fade.in
                %h2 Following
                %hr
                -@following_users.each do |f|
                    .follow_container
                        %a{:href => user_profile_path(f.id)}
                            %img.fl.avatar_medium{"data-email" => f.email}
                        =render :partial => '/users/follow_btn', :locals => {:is_following => true, :user_id => f.id}
                -if @following_users.size == 0
                    %h2 Not following anyone!
            #cabinet_tab.cabinet.tab-pane.fade.in
                %h2 Liquor Cabinet
                %hr
                =render :partial => '/recipes/liquor_cabinet', :locals => {:ingredients => @lc_ingredients, :editable => false}
