// Widget Sizes
//  * Large: 250 x 250, 336 x 280
//  * Sidebar: 120 x 300, 160 x 300
//  * Compact: 125 x 125, 120 x 90, 234 x 60

.amazon_widget_fields
	%input{:type => "hidden", :id => "amz_wdgt", :value => "MP3Clips"}
	%input{:type => "hidden", :id => "amz_tag", :value => "opelyr08-20"}
	%input{:type => "hidden", :id => "amz_type", :value => "ASINList"}
	%input{:type => "hidden", :id => "amz_asin", :value => "#{asin}"}
	%input{:type => "hidden", :id => "amz_title", :value => "#{title}"}
	%input{:type => "hidden", :id => "amz_width", :value => "#{width}"}
	%input{:type => "hidden", :id => "amz_height", :value => "#{height}"}
	%input{:type => "hidden", :id => "amz_shuffle", :value => "True"}
	%input{:type => "hidden", :id => "amz_market", :value => "US"}