
%a.pin-it-button{"count-layout" => "none", :href => "http://pinterest.com/pin/create/button/?url=" + page_url + "&media=" + photo_url + "&description=" + description}
  %img{:border => "0", :src => "//assets.pinterest.com/images/PinExt.png", :title => "Pin It"}