.vote_container
    .vote_column
        .vote_button
            .vote_percentage 12%
            %label.vote_checkbox
                %input{:type => "checkbox"}
                %span TASTY
        .vote_button
            .vote_percentage 0%
            %label.vote_checkbox
                %input{:type => "checkbox"}
                %span REFRESHING
    .vote_column
        .vote_button
            .vote_percentage 25%
            %label.vote_checkbox
                %input{:type => "checkbox"}
                %span GROSS
        .vote_button
            .vote_percentage 9%
            %label.vote_checkbox
                %input{:type => "checkbox"}
                %span PERFECT
    .vote_column
        .vote_button
            .vote_percentage.highest 73%
            %label.vote_checkbox
                %input{:type => "checkbox"}
                %span TOO STRONG
        .vote_button
            .vote_percentage 59%
            %label.vote_checkbox
                %input{:type => "checkbox"}
                %span TOO BITTER