// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	padding-top: 60px;
}

.well {
	background-color: white;

	hr_blah {
		border-top: 1px solid #bbb
	}
}

.navbar input {
	margin-top: 5px;
}

.sidebar-nav label {
	color: #08C;
}

.navbar-search {
	margin-top: 0px;
}

.container-fluid {
	padding-left: 120px;
	padding-right: 120px;
}

form {
	margin-bottom: 0px;
}

.social {
	margin-top: 5px;
}

.popularity {
	height: 20px;
	background-color: #08C;
	border-radius: 2px;
}

.favorite-links {
	margin-bottom: 1px;
}

.favorite,
.unfavorite {
	width: 19px;
	height: 19px;
	float: left;
	margin-left: -1px;

	span {
		margin-left: 19px;
	}
}
.unfavorite {
	background: transparent asset-url("star-lit.png", image) no-repeat center left;

	&:hover {
		background: transparent asset-url("star-lit-hover.png", image) no-repeat center left;
	}
}
.favorite {
	background: transparent asset-url("star.png", image) no-repeat center left;

	&:hover {
		background: transparent asset-url("star-hover.png", image) no-repeat center left;
	}
}

ul.recipe_ingredients {
	list-style-type: none;
	margin: 0;
}

.ingredients_heading,
.recipe_ingredients .ingredient.not_in_liquor_cabinet,
.recipe_ingredients .ingredient.in_liquor_cabinet {
	margin-bottom: 8px;
}
.recipe_ingredients .ingredient.not_in_liquor_cabinet > span,
.recipe_ingredients .ingredient.in_liquor_cabinet > span {
	padding: 3px 4px;
	border-radius: 3px;

	&:hover {
		cursor: pointer;
	}
}
.recipe_ingredients .ingredient.not_in_liquor_cabinet > span {
	background-color: lightSalmon;

	&:hover {
		//background-color: lightgreen;
		border: 2px solid lightgreen;
	}
}
.recipe_ingredients .ingredient.in_liquor_cabinet > span {
	background-color: lightgreen;

	&:hover {
		//background-color: lightSalmon;
		border: 2px solid lightSalmon;
	}
}

#fullPageView {
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: white;
	z-index: 99999;
	top: 0;
	left: 0;
	right: 0;
	width: 1380px;
	height: 2887px;

	a.close_circle {
		position: absolute;
		top: 25px;
		right: 25px;
		background: transparent asset-url("close_circle.gif", image) no-repeat center right;
		width: 22px;
		height: 22px;
	}

	.header {
		width: 100%;
		border-bottom: 1px solid #bbb;

		.title {
			height: 90px;
			margin: 22px 15px 0 20px;

			h1 {
				font-size: 40px;
			}
		}
	}
	.content {
		width: 100%;

		h2 {
			margin-bottom: 20px;
		}

		.ingredients-container {
			float: left;
			width: 349px;
			height: 100%;
			border-right: 1px solid #bbb;

			.ingredients {
				margin: 20px 0 0 20px;
				font-size: 17px;

				li {
					list-style: none;
					padding-bottom: 10px;
				}
			}
		}
		.directions-container {
			float: left;
			height: 100%;
			width: 644px;

			.directions {
				margin: 20px 0 0 20px;

				p {
					font-size: 20px;
				}
			}
		}
	}
}

.hero-unit {
	padding: 0px;
	.carousel {
		.btn {
			opacity: 0.8;
		}
		img {
			width: 992px;
			height: 500px;
		}
	}
}

.cocktail-fall {
	background: asset-url("cocktails/fall_992.jpg", image) no-repeat 0 0;
}
.cocktail-glasses {
	background: asset-url("cocktails/glasses_992.jpg", image) no-repeat 0 0;
}
.cocktail-green {
	background: asset-url("cocktails/green_992.jpg", image) no-repeat 0 0;
}

/* Food Network Stars */
.rating-box{float:left;width:170px;height:30px;background: #fff asset-url("stars_lg.gif", image) no-repeat 0 -330px;}
.rating-box span, .recipe-citrus #fn-e .rating-box span{float:left;text-indent:-9999em;overflow:hidden;}
.rating-box.stars1{background-position:0 -30px;}
.rating-box.stars2{background-position:0 -60px;}
.rating-box.stars3{background-position:0 -90px;}
.rating-box.stars4{background-position:0 -120px;}
.rating-box.stars5{background-position:0 -150px;}

.rating-box.my.stars1{background-position:0 -360px;}
.rating-box.my.stars2{background-position:0 -390px;}
.rating-box.my.stars3{background-position:0 -420px;}
.rating-box.my.stars4{background-position:0 -450px;}
.rating-box.my.stars5{background-position:0 -480px;}

.rating-box.sm{float:left;width:130px;height:16px;background:asset-url("stars_sm.gif", image) no-repeat 0 -273px;}
.rating-box.sm.stars0-5{background-position:0 -96px;}
.rating-box.sm.stars1{background-position:0 -16px;}
.rating-box.sm.stars1-5{background-position:0 -112px;}
.rating-box.sm.stars2{background-position:0 -32px;}
.rating-box.sm.stars2-5{background-position:0 -128px;}
.rating-box.sm.stars3{background-position:0 -48px;}
.rating-box.sm.stars3-5{background-position:0 -144px;}
.rating-box.sm.stars4{background-position:0 -64px;}
.rating-box.sm.stars4-5{background-position:0 -160px;}
.rating-box.sm.stars5{background-position:0 -80px;}
/* end food network */

/* star rating */
.rating-list{
	border:1px solid #efefef;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	padding:3px 3px 1px 4px;
	width:198px;
	height:13px;
	font-size:11px;
	text-align:left;
}
.rating-list:hover{
	-moz-box-shadow:0 1px 5px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow:0 1px 5px rgba(0, 0, 0, 0.5);
}
.rating-list .rating-stars a{
	width:14px;
}
.rating-list .rating-rating{
	margin:-1px 0 0 143px;
	width:40px;
	font-size:11px;
}
.rating-list .rating-cancel{
	margin:-1px 0 0 185px;
}