form.new_recipe {
	margin-bottom: 70px;
}

.new_recipe_directions {
	margin-bottom: 1px;
}

.social {
	margin-top: 5px;
}

.popularity {
	height: 20px;
	background-color: #08C;
	border-radius: 2px;
}

.favorite-links {
	margin-bottom: 1px;
}

.sidebar-nav.search input.add_ingredient {
	width: 100px;
}

.favorite,
.unfavorite {
	width: 19px;
	height: 19px;
	float: left;
	margin-left: -1px;

	span {
		margin-left: 19px;
	}
}
.unfavorite {
	background: transparent asset-url("star-lit.png", image) no-repeat center left;

	&:hover {
		background: transparent asset-url("star-lit-hover.png", image) no-repeat center left;
	}
}
.favorite {
	background: transparent asset-url("star.png", image) no-repeat center left;

	&:hover {
		background: transparent asset-url("star-hover.png", image) no-repeat center left;
	}
}

#recipe_actions {
	float: right;
}

ul.recipe_ingredients {
	list-style-type: none;
	margin: 0;
}

.ingredients_heading,
.recipe_ingredients .ingredient.not_in_liquor_cabinet,
.recipe_ingredients .ingredient.in_liquor_cabinet {
	margin-bottom: 8px;
}
.recipe_ingredients .ingredient.not_in_liquor_cabinet a,
.recipe_ingredients .ingredient.in_liquor_cabinet a {
	text-decoration: none;
}
.recipe_ingredients .ingredient.not_in_liquor_cabinet a > span,
.recipe_ingredients .ingredient.in_liquor_cabinet a > span {
	padding: 3px 4px;
	border-radius: 3px;
	color: white;

	&:hover {
		cursor: pointer;
	}
}
.recipe_ingredients .ingredient.not_in_liquor_cabinet a > span {
	background-color: #EE5F5B;
	&:hover {
		background-color: #bd362f;
	}
}
.recipe_ingredients .ingredient.in_liquor_cabinet a > span {
	background-color: #62C462;
	&:hover {
		background-color: #51a351;
	}
}

.recipe_ingredients .dropdown.open .dropdown-toggle {
    color: inherit;
    background: inherit;
    background: inherit;
}

#fullPageView {
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: white;
	z-index: 99999;
	top: 0;
	left: 0;
	right: 0;
	//width: 1380px;
	//height: 2887px;

	a.close_circle {
		position: absolute;
		top: 25px;
		right: 25px;
		background: transparent asset-url("close_circle.gif", image) no-repeat center right;
		width: 22px;
		height: 22px;
	}

	.header {
		width: 100%;
		border-bottom: 1px solid #bbb;

		.title {
			height: 90px;
			margin: 22px 15px 0 20px;

			h1 {
				font-size: 40px;
			}
		}
	}
	.content {
		width: 100%;

		h2 {
			margin-bottom: 20px;
		}

		.ingredients-container {
			float: left;
			width: 349px;
			height: 100%;
			border-right: 1px solid #bbb;

			.ingredients {
				margin: 20px 0 0 20px;
				font-size: 17px;

				li {
					list-style: none;
					padding-bottom: 10px;
				}
			}
		}
		.directions-container {
			float: left;
			height: 100%;
			width: 644px;

			.directions {
				margin: 20px 0 0 20px;

				p {
					font-size: 20px;
				}
			}
		}
	}
}

.cocktail-fall {
	background: asset-url("cocktails/fall_992.jpg", image) no-repeat 0 0;
}
.cocktail-glasses {
	background: asset-url("cocktails/glasses_992.jpg", image) no-repeat 0 0;
}
.cocktail-green {
	background: asset-url("cocktails/green_992.jpg", image) no-repeat 0 0;
}

.recipe_rating_count {
	font-size: 16px;
}

.vote_container {
	float: right;
	margin-right: 50px;
}
.vote_column {
	float: left;
	width: 99px;
	border-top: 1px solid #E1E1E1;
}
.vote_button {
	border: solid 1px #E1E1E1;
	margin-left: -1px;
	padding-right: 1px;
	padding-top: 4px;
	padding-bottom: 4px;
	border-top: none;

	&:hover {
		background-color: #eee;
		cursor: pointer;
	}

	input {
		display: inline-block;
	}

	.vote_percentage {
		width: auto;
		text-align: center;
		padding: 5px 2px;
		font-size: 150%;
		font-family: Georgia, Times New Roman, Serif;
	}
	.highest.vote_percentage {
		font-size: 230%;
		font-weight: bold;
	}

	.vote_checkbox {
		padding: 9px 1px 2px 5px;

		&:hover {
			cursor: pointer;
		}

		span {
			font-family: Arial Narrow, Geneva, Tahoma, Arial, Sans-Serif;
			font-weight: bold;
			color: red;
		}
	}
}
